<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quem você é ?</title>
    </head>
<body>
    <div class="div-principal">

        {% if not criatura %} <!--primeira vez que a pagina é carregada,por isso quero que aparece essas informaçoes-->

        <div class="div-form">
            <img src="../static/logo-blue-croped.gif" width="200">
        </div>
        <form method="POST">
            <div class="div-form">
                <label for="nome">Digite o seu nome: </label><input type="text" name="nome" id="nome" placeholder="Digite seu nome...">
            </div>
            <div class="div-form">
                <label for="sobrenome">Digite o seu sobrenome: </label><input type="text" name="sobrenome" id="sobrenome" placeholder="Digite seu sobrenome...">
            </div>
            <div class="div-form">
                <input type="radio" name="criatura" id="criatura1" value="ELFO" checked><label for="criatura1">Elfo</label>
                <input type="radio" name="criatura" id="criatura2" value="ORC" ><label for="criatura2">Orc</label>
                <input type="radio" name="criatura" id="criatura3" value="HOBBIT" ><label for="criatura3">Hobbit</label>
            </div>
            <div class="div-form">
                <input type="submit" value="Jogar!" class="botao_enviar">                    
            </div>
        </form>

        {% else %}  <!-- s não é aprimeira vez que a pagina é carregada, aparece as informaçoes passadas-->

        <div class="div-escolha">
            {{ nome }} {{ sobrenome }}, você é um <b>{{ criatura }}</b>
        </div>

        <div class="div-form">
            <img src="{{ imagem }}" width="100%" class="div_escolha-imagem">
        </div>

        <div class="div-form">
            <a href="/" class="jogar_nov">JOGAR NOVAMENTE!</a>
        </div>

        {% endif %}
        
    </div>
</body>
</html>